@use '@/styles/abstracts' as a;
@use '@/styles/utils' as u;

.header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    // border: 1px solid rgba(87, 172, 247, 0.75);
    gap: 2rem;

    &__top {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid rgba(186, 247, 87, 0.75);
        row-gap: 2rem;

        &__title_container {
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            // border: 1px solid brown;

            &__row {
                display: flex;
                flex-wrap: wrap;
            }

            &__item {
                // border: 1px solid red;
                display: flex;
                align-items: center;
                font-size: clamp(1.1rem, 1.1rem + 0.8028vw, 1.5rem);
                font-weight: 500;

                // @media(min-width: (a.$block-width+40)) {
                //     background-color: rgba(255, 0, 0, 0.267);
                //     font-size: 1.5rem;
                // }

                &:after {
                    content: "/";
                    margin: 0px 0.33em;
                    font-weight: 500;
                    font-size: clamp(1.1rem, 1.1rem + 0.8028vw, 1.5rem);
                }

                &__title {
                    display: flex;
                    text-align: start;
                    font-size: clamp(4rem, 4rem + 4.507vw, 5rem);
                    @include a.font-size(a.$block-width, 5rem, 6.5rem);
                    font-family: u.$secondary-font;
                    word-break: break-word;

                    // @media(min-width: (a.$block-width + 40)) {
                    //     font-size: 6.2rem;
                    // }
                }
            }
        }
    }

    &__grid {
        display: grid;
        gap: 1.5rem;

        @include a.header-size(a.$block-width, 3) {
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
        }
    }

    &__double {
        display: grid;
        gap: 1.5rem;

        @include a.header-size(a.$block-width, 2) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }

    &__grid,
    &__double,
    &__single {
        &__info {
            display: flex;
            flex-direction: column;
            // border: 1px solid blue;

            &__title {
                border-bottom: 1px solid a.$color-secondary;
                margin-bottom: 1em;
            }

            &__buttons {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                &__follow {
                    font-weight: 500;
                }

                &__links {
                    cursor: pointer;
                }
            }
        }
    }

}