@use '@/styles/abstracts' as a;
@use '@/styles/utils' as u;

.page {
    &__loading,
    &__error,
    &__modal_loading,
    &__modal_error {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: a.$color-primary;
    }

    &__loading,
    &__error {
        height: calc(100svh - 80px);
    }

    &__modal_loading,
    &__modal_error {
        height: 100svh;
    }

    &__error,
    &__modal_error {
        gap: 3rem;
        flex-direction: column;

        &__text {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            font-family: u.$secondary-font;
            font-size: clamp(2rem, 0rem + 16vw, 4rem);
            text-align: center;
        }

        &__button {
            @include a.button;
            border-radius: 5rem;
            padding: 0.5rem clamp(1.5rem, -1.5rem + 24vw, 3rem);
            font-size: 2rem;
        }
    }
}

.modal_block {
    display: flex;
    flex-direction: column;
    background-color: a.$color-primary;
    position: relative;
    height: fit-content;

    @include a.min-width(small) {
        flex-direction: row;
        height: 100vh;
        overflow: hidden;
    }
}

.block {
    display: flex;
    flex-direction: column;
    background-color: a.$color-primary;
    position: relative;
    height: fit-content;

    @include a.min-width(small) {
        flex-direction: row;
        height: calc(100vh - 80px);
        overflow: hidden;
    }
}

.modal_block,
.block {
    &__image_wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        // border: 1px solid black;

        &__image {
            position: relative;
            display: flex;
            justify-content: center;
            font-size: 4rem;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 2rem 1rem;
            // background-color: rgb(230, 141, 53);
            color: white;

            &__img {
                position: relative;
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                min-height: 50vh;
                // background-color: rgb(209, 78, 22);

                @include a.min-width(small) {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__close {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 1rem;

        &__btn {
            cursor: pointer;
            color: inherit;
            height: fit-content;
        }

        @include a.min-width(small) {
            display: none;
        }
    }

    &__resize {
        display: none;

        @include a.min-width(small) {
            display: inline-flex;
            align-items: center;
            cursor: col-resize;
            position: relative;
            padding: 0 1rem;
            z-index: 2;
            opacity: 0;

            &::after {
                border-left: 1px solid a.$color-secondary;
                content: "";
                display: flex;
                position: relative;
                width: 5px;
                height: 95%;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem 1rem 1rem;
        margin-top: 1rem;
        height: 100%;

        @include a.min-width(small) {
            margin-top: 0;
            min-width: 30%;
            overflow-y: auto;
        }

        &__close {
            display: none;

            &__btn {
                cursor: pointer;
                color: inherit;
                height: fit-content;
            }

            @include a.min-width(small) {
                position: relative;
                // border: 1px solid orange;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding: 1rem;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-bottom: 1px solid a.$color-secondary;

            &__title {
                font-size: 3.5rem;
                font-family: u.$secondary-font;
                -webkit-font-smoothing: antialiased;
            }

            // &__description {
            //     // border-bottom: 1px solid a.$color-secondary;
            // }
        }

        &__metadata {
            font-size: 0.9rem;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            // background-color: rgba(255, 166, 0, 0.38);
            margin-bottom: 2rem;
        }

        &__links {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            &__title {
                font-size: 1.1rem;
                font-weight: 500;
                border-bottom: 1px solid a.$color-secondary;
                margin-bottom: 1rem;
            }

            &__buttons {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 0.5rem;
            }
        }

        &__connections {
            border-top: 1px solid a.$color-secondary;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1rem;
            margin-top: 1rem;
            padding-top: 1rem;

            &__btn {
                width: 100%;
                // background-color: red;
                padding: 0.5rem;
            }

            &__item {
                width: 100%;
                display: grid;
                grid-template-columns: auto auto;
                border: 1px solid a.$color-secondary;
                align-items: center;
                padding: 1.5rem;
                border-radius: 10px;
                gap: 1rem;

                &__title {
                    text-align: start;
                    font-weight: 500;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                &__user {
                    text-align: end;
                }
            }
        }
    }
}