@use '@/styles/abstracts' as a;

.block {
    display: grid;
    grid-template-rows: 50vh 1fr;
    background-color: a.$color-primary;
    position: relative;

    @include a.min-width(small) {
        display: grid;
        height: 100%;
        grid-template-columns: 70% 1fr;
        grid-template-rows: 1fr;
    }

    &__image_container {
        width: 100%;
        background-color: grey;
    }

    &__info {
        border: 1px solid black;

        &__close_btn {
            top: 0;
            position: absolute;
            border: 1px solid orange;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding: 1rem;

            @include a.min-width(small) {
                position: relative;
                border: 1px solid orange;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding: 1rem;
            }
        }

        &__description {
            border-bottom: 1px solid a.$color-secondary;
        }

        &__buttons {
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__connections {
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1rem;
            margin: 1rem; // or padding?

            &__item {
                border: 1px solid a.$color-secondary;
                border-radius: 10px;
            }
        }
    }
}