@use '@/styles/abstracts' as a;

// @include a.button;

.modal {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        border: 2px solid a.$color-secondary;
        background-color: a.$color-primary;
        width: 100%;
        height: 450px;
        display: grid;
        grid-template-rows: 1fr 1fr 65%;
        align-items: start;
        padding: 1.3rem;

        @include a.min-width(xsmall) {
            width: min(90vw, 450px);
        }

        &__close_btn {
            // border: 1px solid black;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }

        &__search {
            // border: 1px solid black;
            display: flex;
            border-bottom: 1px solid a.$color-secondary;
            justify-content: space-between;
            width: 100%;
            padding: 0 0.2rem;

            &__input:focus+&__icon {
                visibility: hidden;
            }
        }

        &__channel {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;
            height: 100%;

            &__header {
                font-size: 0.9rem;
            }

            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                width: 100%;
                height: 100%;
                overflow-y: auto;

                &__item {
                    display: grid;
                    grid-template-columns: 70% 1fr;
                    border: 1px solid a.$color-secondary;
                    border-radius: 10px;
                    width: 100%;
                    padding: 1.5rem 1rem;
                    gap: 1rem;

                    &__title {
                        font-weight: 500;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        // Super Long Text That Extends Forever Ultra Compressed
                    }

                    &__btn {
                        text-align: center;
                        cursor: pointer;
                        font-size: 0.9rem;
                        color: a.$color-secondary;
                    }

                    &__btn:hover {
                        font-weight: 500;
                    }

                    &__status {
                        display: flex;
                        justify-content: flex-end;
                        gap: 0.5rem;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}