@use '../abstracts' as a;

.channel {
    margin-top: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin-left: 10px;
    gap: 1rem;
    // border: 1px solid rgba(255, 208, 0, 0.729);

    &__blocks {
        $b: &;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px solid a.$color-secondary;
        box-sizing: border-box;
        width: 315px;
        height: 100%;
        position: relative;
        /* margin: 0px 10px 40px; */

        &__image {
            $g: &;
            background-color: rgba(128, 128, 128, 0.548);
            width: 315px;
            height: 315px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &__overlay {
                display: none;

                #{$g}:hover>& {
                    position: absolute;
                    display: block;
                    z-index: 99;
                    text-align: center;
                }
            }
        }

        &__info {
            padding: 1rem 0.5rem;
            border-top: 1px solid a.$color-secondary;
            width: 100%;
            position: relative;

            // text-align: center;
            &__title {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
            }

            #{$b}:hover &__title {
                visibility: hidden;
            }

            &__metadata {
                display: none;

                #{$b}:hover & {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    // border: 1px solid red;
                }
            }
        }
    }
}

.default_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid a.$color-secondary;
    box-sizing: border-box;
    width: 315px;
    height: 315px;
    position: relative;
    /* margin: 0px 10px 40px; */
}