@use '@/styles/abstracts' as a;

.modal {
  position: fixed;
  inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  overflow-y: auto;

  &__content {
    width: 100%;

    @include a.min-width(small) {
      height: 100%;
    }
  }

}