@use '@/styles/abstracts' as a;
@use '@/styles/utils' as u;

.grid {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 2rem;

    &__box {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &__row {
            box-sizing: border-box;
            overflow: hidden;
            margin-right: 10px;
            padding: 0 0.5em 0;

            &__text {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 1.5rem;
                gap: 0.5rem;

                &__title {
                    font-size: 2.5rem;
                    font-family: u.$secondary-font;
                }
            }

            &__item {
                display: flex;
                gap: 1rem;
                margin-bottom: 2.5rem;
                width: fit-content;
                box-sizing: border-box;
            }

            &__info {
                padding-right: 1em;
                text-decoration: 1px underline;
                text-underline-offset: 3px;
            }
        }
    }

    &__grid {
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        margin: 2rem 0 0 10px;
        gap: 1rem;
        // border: 1px solid rgba(255, 208, 0, 0.729);
    }
}