@use '@/styles/utils' as u;

// COLORS //
$color-primary: var(--background-color);
$color-secondary: var(--color);

// BREAKPOINTS //
$breakpoint-xsmall: 320px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;

// BLOCK WIDTH //
$block-width: 315px;

// FORM MODAL //
$createChannel-height: 60%;
$createBlock-height: 80%;
$updateChannel-height: 100%;
$updateBlock-height: 80%;

$createBlock-margin-top: 2rem;
$createChannel-margin-top: 2rem;
$updateChannel-margin-top: 0;
$updateBlock-margin-top: 2rem;

$createChannel-margin-bottom: 2rem;
$createBlock-margin-bottom: 2rem;
$updateChannel-margin-bottom: 2rem;
$updateBlock-margin-bottom: 2rem;

