@use '@/styles/utils' as u;

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 80px);
    width: 100%;
    font-size: 4rem;
    font-family: u.$secondary-font;
}