@use '@/styles/abstracts' as a;

.page {

    @include a.grid-width(a.$block-width);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem 0;

    &__box {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding-top: 5rem;

        &__title {
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
            text-decoration: 1px a.$color-secondary underline;
            text-underline-offset: 1rem;
        }

        &__grid {
            box-sizing: border-box;
            display: flex;
            flex-flow: row wrap;
            margin: 2rem 0 0 10px;
            gap: 1rem;
        }
    }
}