@use '@/styles/abstracts' as a;
@use '@/styles/utils' as u;

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: clamp(3rem, 2rem + 6.4vw, 4rem);
    height: calc(100vh - 80px);
    width: 100%;
    padding: 1rem;
    font-size: clamp(2rem, 0rem + 16vw, 4rem);
    font-family: u.$secondary-font;

    &__header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &__link {
        @include a.button;
        border-radius: 5rem;
        font-size: clamp(1rem, -1rem + 12.8vw, 3rem);
        padding: 1rem clamp(1rem, -1rem + 12.8vw, 3rem);
    }
}