@use '@/styles/abstracts' as a;

.page {
    margin: 0 auto;
    padding-top: 1rem;
    @include a.grid-width(a.$block-width);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;

    @media (max-width: (a.$block-width + 40)) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__filter {
        color: a.$color-secondary;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        &__svg {
            fill: a.$color-secondary;
        }
    }

    &__results {
        padding-top: 2rem;

        &__text {
            text-align: center;
            font-weight: bold;
        }
    }

    &__grid {
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        margin: 2rem 0 0 10px;
        gap: 1rem;
    }

    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100svh - (170px + 80px));
    }
}