@use '@/styles/abstracts' as a;
@use '@/styles/utils' as u;

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: clamp(2rem, -1.5934rem + 26.3736vw, 5rem);
        font-family: u.$secondary-font;
        margin: 3rem 0;
    }

    &__confirmation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: Min(400px, 100%);
        text-align: center;
        padding: 2rem 0;
        row-gap: 1rem;
        border: 1px solid a.$color-secondary;

        &__title {
            font-style: italic;
        }

        &__resend {
            
            &__btn {
                color: a.$color-secondary;
                text-decoration: 1px underline;
                text-underline-offset: 6px;
                cursor: pointer;
            }
        }
    }

    &__delete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: Min(400px, 100%);
        gap: 3rem;
        margin-top: 2rem;
        border-top: 1px solid a.$color-secondary;

        &__title {
            font-size: 2rem;
            font-family: u.$secondary-font;
            text-align: center;
        }

        &__button {
            @include a.button;
        }
    }

}