$theme1-primary: rgb(252, 249, 248);
$theme1-secondary: rgb(33, 91, 223);

$theme2-primary: rgb(191, 255, 0);
$theme2-secondary: rgba(26, 60, 34);

$theme3-primary: rgb(100, 123, 95);
$theme3-secondary: rgb(252, 249, 248);

$theme4-primary: rgb(238, 32, 32);
$theme4-secondary: rgba(255, 170, 199);

$theme5-primary: rgb(255, 170, 199);
$theme5-secondary: rgba(26, 60, 34);

$theme6-primary: rgb(33, 91, 223);
$theme6-secondary: rgb(252, 249, 248);

$theme7-primary: rgb(23, 23, 23);
$theme7-secondary: rgb(252, 249, 248);