$theme_white_blue-primary: rgb(251, 242, 239);
$theme_white_blue-secondary: rgb(33, 91, 223);
$theme_white_blue-transparent: rgba(251, 242, 239, 0.5);

$theme_green_white-primary: rgb(100, 123, 95);
$theme_green_white-secondary: rgb(251, 242, 239);
$theme_green_white-transparent: rgb(100, 123, 95, 0.5);

$theme_red_pink-primary: rgb(116, 41, 41);
$theme_red_pink-secondary: rgba(255, 170, 199);
$theme_red_pink-transparent: rgb(116, 41, 41, 0.5);

$theme_blue_black-primary: rgb(137, 143, 255);
$theme_blue_black-secondary: rgb(20, 39, 77);
$theme_blue_black-transparent: rgb(137, 143, 255, 0.5);

$theme_grey_black-primary: rgb(114, 120, 128);
$theme_grey_black-secondary:rgb(62, 68, 75);
$theme_grey_black-transparent: rgb(114, 120, 128, 0.5);

$theme_black_white-primary: rgb(23, 23, 23);
$theme_black_white-secondary: rgb(251, 242, 239);
$theme_black_white-transparent: rgb(23, 23, 23, 0.5);