.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(247, 87, 87, 0.75);
}

.nav_logo_container {
    background-color:  rgb(100, 123, 95);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}