@use '@/styles/abstracts/variables' as v;

@mixin default_block {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid v.$color-secondary;
    width: Min(315px, 100vw);
    height: Min(315px, 100vh);
    cursor: pointer;
}