@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/mixins/min-width' as m;
@use '@/styles/abstracts/mixins/button' as b;
@use '@/styles/utils' as u;

@mixin form-modal($height, $margin-top, $margin-bottom) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: v.$color-transparent;

    @include m.min-width(xsmall) {
        padding: 1rem;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 550px;
        height: 100%;
        overflow-x: auto;
        padding: 1rem;
        background-color: v.$color-primary;
        border: 1px solid v.$color-secondary;

        @include m.min-width(xsmall) {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: $height;
            width: 550px;
            padding: 1rem;
            background-color: v.$color-primary;
            border: 1px solid v.$color-secondary;
        }

        &__close_btn {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: $margin-bottom;

            &__svg {
                cursor: pointer;
            }
        }

        &__title {
            font-size: 1.8rem;
            font-family: u.$secondary-font;
            margin-bottom: 0.5rem;
        }

        &__form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;

            &__item {
                display: flex;
                flex-direction: column;
                gap: 0.5rem 0;

                &__label {
                    text-align: start;
                }

                &__input {
                    border: 1px solid v.$color-secondary;
                }

                &__textarea {
                    border: 1px solid v.$color-secondary;
                }
            }

            &__submit {
                margin-top: $margin-top;
                text-align: center;

                &__btn {
                    @include b.button;
                }
            }
        }
    }
}