@use '@/styles/abstracts/variables' as v;

@mixin font-size($size, $start, $cap) {
    @for $i from 1 through 12 {
        $font: $start+($i / 3);
        $diff: $i * 20;
        $max: $size * $i +$diff;
        $min: $max +20;

        @media(min-width: $min) {
            font-size: min($font, $cap);
            @content;
        }
    }
}

@mixin svg-size($size) {
    @for $i from 1 through 12 {
        $svg: 1rem+($i / 3);
        $diff: $i * 20;
        $max: $size * $i +$diff;
        $min: $max +20;

        @media(min-width: $min) {
            width: min($svg, 1.8rem);
            @content;
        }
    }
}

@mixin header-size($size, $i) {
    $diff: $i * 20;
    $max: $size * $i +$diff;
    $min: $max +20;

    @media(min-width: $min) {
        @content;
    }

}