@use '@/styles/abstracts' as a;

.block {
    &__channel {
        height: fit-content;

        &__box {
            @include a.default_block;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &__title {
                font-size: 1.5rem;
                font-weight: bold;
            }

            &__info {
                font-size: 0.9rem;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__user {
        height: fit-content;

        &__box {
            @include a.default_block;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            font-weight: bold;
            gap: 2rem;
            position: relative;

            &__image {
                position: relative;
                border-radius: 50%;
                overflow: hidden;

                &__img {
                    width: Min(140px, 100vw);
                    height: Min(140px, 100vw);
                }

                &__default {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: a.$color-secondary;
                    color: a.$color-primary;
                    font-size: clamp(2.5rem, 2.5rem + 5.3333vw, 2.8rem);
                    border-radius: 50%;
                    width: Min(140px, 100vw);
                    height: Min(140px, 100vw);
                }
            }
        }
    }
}