@use '@/styles/abstracts' as a;

.selection {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;

    &__title {
        font-size: 0.8rem;
    }

    &__buttons {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        &__btn {
            @include a.button;
            font-size: 0.8rem;
        }

    }
}