@use '@/styles/abstracts/' as a;
@use '@/styles/utils' as u;

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 3rem 1rem;

    @include a.min-width(medium) {
        height: 100%;
    }

    &__svg_container {
        display: block;

        @include a.min-width(medium) {
            display: none;
        }

        &__svg {
            stroke: a.$color-primary;
            fill: a.$color-secondary;
        }
    }

    @include a.min-width(large) {
        justify-content: center;
    }

    &__title {
        font-size: 8rem;
        font-family: u.$secondary-font;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 1rem;

        &__item {
            display: flex;
            flex-direction: column;
            gap: 0.5rem 0;

            &__label {
                text-align: start;
                font-size: 1.2rem;
            }

            &__input {
                border: 1px solid a.$color-secondary;
            }
        }

        &__submit {
            margin: 1rem 0 1rem 0;
            text-align: center;

            &__btn {
                @include a.button;
            }
        }

        &__login {
            text-align: center;

            &__link {
                text-decoration: 1px underline;
                text-underline-offset: 3px;
            }
        }
    }

    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="password"],
    input[type="url"] {
        font-size: 1.2rem;
    }
}