@use "@/styles/abstracts/" as a;
@use "@/styles/utils" as u;

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: u.$base-font;

    --background-color: #{u.$theme_green_white-primary};
    --color: #{u.$theme_green_white-secondary};
    --bg-transparent: #{u.$theme_green_white-transparent};

    background-color: a.$color-primary;
    color: a.$color-secondary;

    @include a.scrollbar(a.$color-secondary, a.$color-primary);
}

body.theme_red-pink {
    --background-color: #{u.$theme_red_pink-primary};
    --color: #{u.$theme_red_pink-secondary};
    --bg-transparent: #{u.$theme_red_pink-transparent};
}

body.theme_white-blue {
    --background-color: #{u.$theme_white_blue-primary};
    --color: #{u.$theme_white_blue-secondary};
    --bg-transparent: #{u.$theme_white_blue-transparent};
}

body.theme_blue-black {
    --background-color: #{u.$theme_blue_black-primary};
    --color: #{u.$theme_blue_black-secondary};
    --bg-transparent: #{u.$theme_blue_black-transparent};
}

body.theme_grey-black {
    --background-color: #{u.$theme_grey_black-primary};
    --color: #{u.$theme_grey_black-secondary};
    --bg-transparent: #{u.$theme_grey_black-transparent};
}

body.theme_black-white {
    --background-color: #{u.$theme_black_white-primary};
    --color: #{u.$theme_black_white-secondary};
    --bg-transparent: #{u.$theme_black_white-transparent};
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


@include a.font-face('NeueMontreal', '/fonts/PPNeueMontreal/PPNeueMontreal-Book', 400, normal, otf);
@include a.font-face('NeueMontreal', '/fonts/PPNeueMontreal/PPNeueMontreal-Medium', 500, normal, otf);
@include a.font-face('Mondwest', '/fonts/Bitmap/PPMondwest-Regular', 400, normal, otf);