@use '@/styles/abstracts/variables' as v;

h1,
h2,
h3 {
    // line-height: 1.1;
    margin-top: 0;
}

p {
    margin-top: 0;
}

a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
}

textarea {
    resize: vertical;
    min-height: 1.5rem;
    height: 150px;
}

input[type="text"],
input[type="search"],
textarea {
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    width: 100%;
    font-family: inherit;
}

::placeholder {
    color: inherit;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]:focus::-ms-clear {
    display: inline-block;
    appearance: none;
    height: 1rem;
    width: 1rem;
    mask: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDE3IDE1IiBmaWxsPSJub25lIj4KPGxpbmUgeDE9IjEuOTY2MTIiIHkxPSIwLjQyNzk3MSIgeDI9IjE2LjA4MjciIHkyPSIxNC41NDQ2IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgLz4KPGxpbmUgeDE9IjEuMjU5MDEiIHkxPSIxNC41NDQ1IiB4Mj0iMTUuMzc1NiIgeTI9IjAuNDI3OTU0IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgLz4KPC9zdmc+") no-repeat 50% 50%;
    background-size: contain;
    background: v.$color-secondary;
}

/*---------------------------*/

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]:focus::-ms-reveal {
    display: inline-block;
    appearance: none;
    height: 1rem;
    width: 1rem;
    mask: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDE3IDE1IiBmaWxsPSJub25lIj4KPGxpbmUgeDE9IjEuOTY2MTIiIHkxPSIwLjQyNzk3MSIgeDI9IjE2LjA4MjciIHkyPSIxNC41NDQ2IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgLz4KPGxpbmUgeDE9IjEuMjU5MDEiIHkxPSIxNC41NDQ1IiB4Mj0iMTUuMzc1NiIgeTI9IjAuNDI3OTU0IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgLz4KPC9zdmc+") no-repeat 50% 50%;
    background-size: contain;
    background: v.$color-secondary;
}

/*---------------------------*/

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* clears the 'X' from Chrome */
input[type="search"]:focus::-webkit-search-decoration,
input[type="search"]:focus::-webkit-search-cancel-button,
input[type="search"]:focus::-webkit-search-results-button,
input[type="search"]:focus::-webkit-search-results-decoration {
    display: inline-block;
    appearance: none;
    height: 1rem;
    width: 1rem;
    mask: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDE3IDE1IiBmaWxsPSJub25lIj4KPGxpbmUgeDE9IjEuOTY2MTIiIHkxPSIwLjQyNzk3MSIgeDI9IjE2LjA4MjciIHkyPSIxNC41NDQ2IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgLz4KPGxpbmUgeDE9IjEuMjU5MDEiIHkxPSIxNC41NDQ1IiB4Mj0iMTUuMzc1NiIgeTI9IjAuNDI3OTU0IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgLz4KPC9zdmc+") no-repeat 50% 50%;
    background-size: contain;
    background: v.$color-secondary;
}

svg {
    color: inherit;
}